@import "common";

.setting_page {
    width: 1400px;
    height: 950px;
    background: $white;
    border-radius: 5px;
    padding: 50px;
    margin: 0 30px;

    .setting_title {
        color: $black;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .title_wrap{
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
        @include vertical-center;
        justify-content: space-between;
        .setting_title{
            margin:0;
        }
       
        button{
            width: 100px;
            height: 40px;
            @include blue_btn;
            font-size: 16px;
            @include perfect-center;
            img{
                margin-right: 5px;
            }
            &:hover{
                @include blue-button-hover;
            }
        }
    }
    

    .sub_title {
        color: #7F7F7F;
        font-weight: 600;
    }

    .set_inner_form {
        padding: 30px 80px;
        border-bottom: 1px solid $input_bg;
        width: calc(100% + 100px);
        margin-left: -50px;

        .input_lines {
            margin-bottom: 20px;
            @include vertical-center;
            label {
                width: 230px;
                display: inline-flex;
                color: #7F7F7F;
                font-weight: 600;
            }
            input {
                width: 600px;
            }
            .error_line{
                color:#F75454;
                font-size: 12px;
                position: absolute;
                margin: 60px 0 0 230px;
            }
        }

        button {
            &.mail_btn{
                margin-left: 230px;
                @include border-button(145px);
            }

            &:hover {
                background: $item_bg;
            }
        }
    }

    .notice {
        color: $sub_gray;
        margin: 0 0 30px 108px;
    }

    .info_line {
        display: flex;
        margin-bottom: 30px;


        .sub_title {
            width: 108px;
        }

        &.align_center {
            align-items: center;
        }
        
        .result {
            
            .title {
                display: flex;
                width: 200px;
                margin-bottom: 20px;

                &::after {
                    margin-left: 20px;
                    content: attr(data-value);
                }
            }

            .selectBox {
                position: absolute;
                z-index: 0;
                button{
                    z-index: 0 !important;
                    position:relative;
                }
                ul{
                    margin-top: -3px;
                    &.open{
                        position: absolute;
                        z-index: 99999;
                        overflow-y: hidden !important;
                    }
                }
            }

            .action_btn{
                width: 80px;
                height: 40px;
                margin-left: 220px;
                border-radius: 4px;
                &.del_btn{
                    @include red_btn;
                }
                &.save_btn {
                    @include blue_btn;
                    width: 80px;
                    height: 40px;
                    &:hover{
                        @include blue-button-hover;
                    }
                }
                &.end_btn{ 
                    @include red_btn;
                    margin-left: 10px !important;
                }
                &.start_btn{
                    @include border-button(80px);
                    &:hover{
                        @include blue-button-hover;
                    }
                }

                &:disabled{
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
            
            .update {
                @include blue_btn;
                width: 158px;
                height: 40px;
                // margin-top: 10px;
                margin-left: 10px;
                &:hover {
                    background: $blue_hover;
                }
            }

            

            .bold {
                font-weight: bold;
            }

            span {
                width: 100%;
            }
        }

    }

    .line {
        width: calc(100% + 100px);
        height: 1px;
        background-color: #CBD4DC;
        margin: 30px 0 30px -50px;
    }
}

.system_table {
    li {
        height: 50px;
        display: flex;
        width: 100%;
        border-bottom: $table_border_light;

        p {
            @include vertical-center;
            padding-left: 15px;
        }
    }

    .system_header {
        border-radius: 5px 5px 0 0;
        background: $item_bg;
        border-bottom: $table_border;

        p {
            @include gray-title;
            font-family: 'NotoSans' !important;
            font-weight: 600;
        }
    }

    .statusTxt{
        @include vertical-center;
        margin: 0 8px;
        border-radius: 100px;
        padding:5px 10px;
        height: 20px;
        width: auto;
        font-weight: normal;
        font-size: 0.8rem;
        position: absolute;
        margin-left: 130px;
    }

    .server_status{
        width: 100px;
        position: absolute;
        margin-left: 130px;
        @include vertical-center;
        color:$sub_gray;
    }
}

.status_desc{
    color: $gray;
    margin-top: 15px;
}

.info_table {
    li {
        p {
            &.service_name{
                font-family: 'Roboto' !important;
                font-size: 15px;
                svg{
                    margin-right: 10px;
                }
            }
            &:nth-of-type(1) { //서비스명
                width: 330px;
            }
            &:nth-of-type(2) { //기능
                width: 200px;
                justify-content: center;
            }
            &:nth-of-type(3) { //시간
                width: 240px;
                font-family: 'Roboto' !important;
                // justify-content: center;
            }
            &:nth-of-type(4) { //설명
                width: 580px;
            }
            
        }
    }

    // 변경된 버튼 스타일 
    .draw_btn{
        width: 80px;
        height: 40px;
        border:1px solid #B4C1CD;
        border-radius: 4px;
        @include perfect-center;
        color:$black;
        font-weight: 600;
        cursor: pointer;
        img{
            width: 14px;
            height: auto;
            margin-right: 8px;
        }
        p{
            width:auto !important;
            padding:0 !important;
        }
        &:hover{
            background: $item_bg;
        }
    }
}

.update_table {
    width: 760px;
    li {
        p {
            &:nth-of-type(1) {
                width: 240px;
                justify-content: center;
            }
            &:nth-of-type(2) {
                width: 320px;
            }

            &:nth-of-type(3) {
                width: 200px;
                justify-content: center;
            }
            &.active {
                &::after {
                    content: url(../img/icons/curmodel.svg);
                    float: right;
                    margin: 3px 0 0 10px;
                }
            }
        }
        &.result_list{
            p {
                &:nth-of-type(1),&:nth-of-type(2) {
                    font-family: 'Roboto';
                }
            }
        }
    }

    button {
        width: 130px;
        height: 36px;
        border: 1px solid $blue;
        color: $blue;
        background: $white;
        border-radius: 4px;

        &.active {
            cursor:not-allowed;
            opacity: 0.5;
            pointer-events:none;
        }

        &:hover {
            background: $item_bg;
        }

    }
}

.notice_text {
    color: $gray;
    @include vertical-center;
    margin-top: 15px;

    &::before {
        content: url(../img/icons/setting_notice.svg);
        margin-right: 4px;
    }
}

.ac_table {
    li {
        p {

            &:nth-of-type(1),
            &:nth-of-type(2) {
                width: 60px;
                @include perfect-center;
                padding: 0;
                button{
                    width: 50px;
                }
            }
            &:nth-of-type(3){
                width: 180px;
            }
            &:nth-of-type(4),
            &:nth-of-type(6) {
                width: 250px;
            }

            &:nth-of-type(5) {
                width: 150px;
            }

            &:nth-of-type(7) {
                width: 130px;
                text-align: center;
                @include perfect-center;
            }

            &:nth-of-type(8) {
                width: 320px;
            }

            &.active {
                &::after {
                    content: url(../img/icons/curmodel.svg);
                    float: right;
                    margin: 3px 0 0 10px;
                }
            }

            button {
                width: 60px;
                height: 50px;
                @include perfect-center;

                &.del_btn {
                    background: transparent url(../img/icons/ac_del.svg) no-repeat center center;

                }

                &.edit_btn {
                    background: transparent url(../img/icons/ac_edit.svg) no-repeat center center;

                }
            }
        }
        &.result_list{
            p{
                &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6){
                    font-family: 'Roboto' !important;
                }
            }
        }

        &.log_list{
            p{
                font-family: 'Roboto' !important;
            }
        }
    }
}

.ac_top_container {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
    margin-bottom: 15px;

    button {
        width: 40px;
        height: 40px;
        border-radius: 4px;

        &.add_user {
            background: $blue url(../img/icons/ac_add_user.svg) no-repeat center center;
        }

        &.log {
            background: $blue url(../img/icons/add.svg) no-repeat center center;
        }
    }

    p {
        color: $sub_gray;
    }
}

.storage {
    border-top: 1px solid $input_bg;
    width: calc(100% + 100px);
    margin-left: -50px;

}